<template>
  <div class="in-page">
    <v-card class="mx-auto" color="blue-grey darken-3" dark max-width="500">
      <v-card-title>
        <v-icon large left>mdi-alert</v-icon>
        <span class="title font-weight-light">{{ $t("general.err") }}</span>
      </v-card-title>

      <v-card-text class="headline font-weight-bold pa-3 mb-3">
        <h1>
          {{ $t("notFound.404") }}
        </h1>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="gohome" block outlined>
          go home!
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { mergeRouteQuery } from "../helpers/helper";
export default {
  name: "NotFound",
  methods: {
    gohome() {
      const route = mergeRouteQuery({ path: "/" }, { lang: this.$route.query.lang }, false);
      this.$router.push(route);
    }
  }
};
</script>

<style lang="scss" scoped>
.in-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
