<template>
  <div class="in-page home-page">
    <v-container fluid>
      <v-text-field
        :label="$t('home.search')"
        v-model="searchValue"
        filled
        dense
        clearable
        rounded
        :disabled="loading"
        @click:clear="clearSearch"
        append-outer-icon="mdi-magnify"
        class="mx-6"
      ></v-text-field>
      <v-data-table
        :loading="loading"
        :headers="headers"
        :items="records"
        :disable-pagination="true"
        disable-sort
        hide-default-footer
        item-key="hash"
        class="elevation-1"
        @click:row="details"
      >
        <!-- <template
         v-slot:header.id="{ header }"
         >
         {{ $t(`table.${header.value}`)}}
        </template>-->

        <template class="py-1" v-slot:item.keywords="{ item }">
          <v-chip
            v-for="(v, index) in item.keywords.split(`,`)"
            small
            label
            dark
            color="info"
            class="ma-1"
            :key="index"
            >{{ v }}</v-chip
          >
        </template>

        <template v-slot:item.date="{ item }">{{
          new Date(parseInt(item.date)).toLocaleDateString()
        }}</template>

        <template v-slot:item.hash="{ item }">
          <v-hover v-slot:default="{ hover }">
            <span style="position: relative">
              {{
                item.hash.slice(0, 10) +
                  "...." +
                  item.hash.slice(item.hash.length - 5, item.hash.length)
              }}
              <v-btn
                v-show="hover"
                class="copy-to-clip-board"
                :style="{ [$vuetify.rtl ? 'left' : 'rigth']: '-5px' }"
                fab
                dark
                x-small
                color="pink"
                @click.stop="copy(item.hash)"
              >
                <v-icon dark>mdi-content-copy</v-icon>
              </v-btn>
            </span>
          </v-hover>
        </template>

        <template v-slot:header.user="{}">{{ $t(`form.firstAndLastName`) }}</template>
      </v-data-table>
      <custom-alert ref="calert" />
    </v-container>

    <v-dialog scrollable :value="Object.entries(dialog).length > 0" persistent max-width="590">
      <v-card>
        <v-system-bar color="pink darken-2 px-3" height="63" dark>
          <h3>{{ $t(`table.details`) }}</h3>
          <v-spacer></v-spacer>

          <v-icon @click="dialog = {}">mdi-close</v-icon>
        </v-system-bar>

        <v-card-text class="pt-5">
          <div v-for="(value, key) in dialog" class="mb-4" :key="key">
            <b>{{ $t(`table.${key}`) }}</b>
            <v-divider></v-divider>
            {{ key === "date" ? new Date(parseInt(value)) : value }}
          </div>
        </v-card-text>
      </v-card>
    </v-dialog>
    <div class="d-flex justify-center">
      <v-btn outlined @click="fetchdata" v-if="!loading && records.length == 0">retry</v-btn>
    </div>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      // search
      searchValue: "",
      //
      dialog: {},
      bookmark: "",
      records: [],
      headers: [
        { sortable: false, text: "name", value: "name" },
        { sortable: false, text: "format", value: "format" },
        { sortable: false, text: "date", value: "date" },
        { sortable: false, text: "keywords", value: "keywords" },
        { sortable: false, text: "hash", value: "hash" },
        { sortable: false, text: "owner", value: "owner" }
      ]
    };
  },
  computed: {
    serchParam() {
      return this.searchValue;
    },
    loading() {
      return this.$store.state.loading;
    }
  },
  mounted() {
    this.fetchdata();
  },
  watch: {
    searchValue() {
      clearTimeout(window.search_timeout);
      window.search_timeout = setTimeout(() => {
        this.fetchdata();
      }, 1300);
    }
  },
  methods: {
    clearSearch() {
      this.searchValue = "";
      this.fetchdata();
    },
    async fetchdata() {
      // this.opensearch = false;
      this.records = [];
      const config = {
        params: { nextpage: "", pagesize: 20, search: this.serchParam },
        timeout: 5000
      };
      try {
        const { data } = await this.$axios.get("/submissions/list", config); // ?nextpage=&pagesize=10&search');
        const records = data.map(e => {
          if (typeof e.Record === "object") return e.Record;
          return e;
        });
        const last = records.splice(records.length - 1);

        this.bookmark = last[0].ResponseMetadata.Bookmark;

        this.records = records;
        console.log("****DONE*****");
        return 0;
      } catch (error) {
        return 1;
      }
    },
    details(data) {
      this.dialog = { ...data };
    },
    async copy(params) {
      const div = document.createElement("input");
      div.value = params;
      div.id = "selectable-ph";
      div.style.display = "node";
      document.querySelector("body").appendChild(div);

      const olddiv = document.querySelector("#selectable-ph");

      try {
        olddiv.select();
        olddiv.setSelectionRange(0, 99999);

        document.execCommand("copy");

        this.$refs.calert.fire("copied to clipboard");
      } catch (error) {
        this.$refs.calert.fire("something went wrong check console to find more");
      }

      olddiv.remove();
    }
  }
};
</script>

<style lang="scss">
tr:nth-child(even) {
  background: #e6e6e6;
}
.copy-to-clip-board {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}
</style>
