<template>
  <div class="in-page login-page" ref="login_page">
    <img :src="background" ref="image" class="bgimg" />
    <transition name="switch" mode="out-in">
      <sign-up-card v-if="signup">
        <button @click.prevent="signup = false" class="text-decoration-underline">login</button>
      </sign-up-card>
      <login-card v-else :bg="false" v-on:auth-success="goNextPage">
        <button @click.prevent="signup = true" class="text-decoration-underline">
          {{ $t("login.noAccount") }}
        </button>
      </login-card>
    </transition>
  </div>
</template>

<script>
/* eslint-disable */
import LoginCard from "../components/LoginCard.vue";
import SignUpCard from "../components/SignUpCard.vue";

import { getAverageRGB } from "../helpers/helper";

export default {
  components: { LoginCard, SignUpCard },
  data() {
    return {
      signup: false
    };
  },
  mounted() {
    this.$refs.image.onload = () => {
      let rgb = getAverageRGB(this.$refs.image);
      this.$refs.login_page.style.background = `rgb(${Object.entries(rgb)
        .map(e => e[1])
        .join(",")})`;
    };
  },
  methods: {
    goNextPage() {
      this.$router.push(`/?lang=${this.$route.query.lang}`);
    },
    log() {
      console.log(99);
    }
  },
  computed: {
    background() {
      let randnum = Math.ceil(Math.random() * 7);
      return `/img/login-collection/login${randnum}.jpg`;
    },
    isLoggedIn() {
      return this.$store.state.isLoggedIn;
    }
  }
};
</script>

<style lang="scss" scoped>
.switch-enter-active,
.switch-leave-active {
  transition: all 400ms;
}

.switch-enter {
  transform: translate(12px, 30px) rotateY(-90deg);
}
.switch-leave-to {
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateY(0) translate(0, 0);
  }
  100% {
    transform: rotateY(-90deg) translate(12px, 30px);
  }
}

@keyframes flip-horizontal-up {
  0% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.login-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
}

img.bgimg {
  // display: none;
  position: absolute;
  top: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 75% 0, 45% 100%, 0% 100%);
}

</style>