<template>
  <div class="in-page">
    <v-container>
      <v-row>
        <v-col sm="12" md="6" class="mx-auto">
          <v-card elevation="0" outlined shaped tile>
            <v-card-title class="">
              <h4 class="text-h4 mb-5" :style="farsiFont">{{ $t("profile.profile") }}</h4>
            </v-card-title>

            <v-form class="pa-4">
              <v-text-field readonly :value="profile.firstName" :label="$t('profile.firstName')">
              </v-text-field>

              <v-text-field readonly :value="profile.lastName" :label="$t('profile.lastName')">
              </v-text-field>

              <v-text-field readonly :value="profile.email" :label="$t('profile.email')">
              </v-text-field>

              <v-text-field
                readonly
                :value="profile.national_number"
                :label="$t('profile.ssn')"
                placeholder="خالی"
              >
              </v-text-field>

              <v-text-field readonly :value="profile.username" :label="$t('profile.userName')">
              </v-text-field>

              <v-text-field
                readonly
                :value="profile.phone_number"
                :label="$t('profile.phoneNumber')"
              >
              </v-text-field>
            </v-form>

            <v-card-actions>
              <!-- <v-btn
                outlined
                text
              >
                {{ $t('general.save')}}
              </v-btn> -->
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {};
  },
  async mounted() {
    if (Object.keys(this.profile).length === 0) {
      let req2;
      try {
        req2 = await this.$axios.get("/user/profile");
      } catch (error) {
        console.log(error);
        return;
      }
      this.$store.commit("setProfile", req2.data.profile);
    }
  },
  computed: {
    ...mapState({
      profile: state => state.profile
    }),
    farsiFont() {
      if (this.$i18n.locale === "fa") {
        return { "font-family": "samim !important" };
      }
      return {};
    }
  }
};
</script>

<style></style>
