<template>
  <div class="in-page">
    <v-container>
      <v-row>
        <v-col sm="12" md="8" lg="7" class="mx-auto">
          <v-card elevation="0" outlined shaped tile>
            <v-card-title class="">
              <h4 class="text-h4 mb-5" :style="farsiFont">{{ $t("form.registration") }}</h4>
            </v-card-title>
            <v-form class="pa-4" ref="form">
              <v-text-field
                v-model="cformData.name"
                :label="$t('table.name')"
                :rules="reqRule"
              ></v-text-field>

              <v-text-field
                :label="$t('table.owner')"
                v-model="cformData.owner"
                :rules="reqRule"
              ></v-text-field>

              <v-text-field
                :label="$t('table.phone')"
                v-model="cformData.phone"
                :rules="reqRule"
              ></v-text-field>

              <v-text-field
                :label="$t('table.email')"
                v-model="cformData.email"
                :rules="reqRule"
              ></v-text-field>

              <v-row>
                <v-col sm="1">
                  <v-file-input
                    hide-input
                    prepend-icon="mdi-file"
                    label="File input"
                    color="pink"
                    v-model="fileinput"
                  ></v-file-input>
                </v-col>

                <v-col sm="11" class="d-flex pb-4" style="align-items:flex-end">
                  <div v-if="loadingbar">
                    loading...
                  </div>
                  <v-text-field
                    v-else
                    :label="hashCodePL || $t('table.hash')"
                    readonly
                    :rules="reqRule"
                    v-model="cformData.hash"
                  ></v-text-field>
                </v-col>
              </v-row>

              <v-textarea
                name="description"
                :label="$t('table.description')"
                clearable
                v-model="cformData.description"
              ></v-textarea>

              <v-text-field
                :label="$t('table.submitter')"
                :value="submitter"
                disabled
                :rules="reqRule"
              ></v-text-field>

              <v-text-field
                :label="$t('table.format')"
                :value="format"
                disabled
                :rules="reqRule"
              ></v-text-field>

              <v-combobox
                :label="$t('table.keywords')"
                multiple
                small-chips
                v-model="cformData.key_words"
              ></v-combobox>
              <v-card-actions class="mt-4">
                <v-btn
                  type="submit"
                  :disabled="loading || loadingbar"
                  text
                  outlined
                  class="mx-2 mb-3"
                  @click.prevent="submit"
                  >{{ $t("general.submit") }}</v-btn
                >
                <v-btn
                  @click="clear"
                  text
                  outlined
                  class="mx-2 mb-3"
                  :disabled="loading || loadingbar"
                  >{{ $t("general.clear") }}</v-btn
                >
              </v-card-actions>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <custom-alert ref="calert" />
    <v-overlay :value="loading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import jsSHA from "jssha";
import { mapState } from "vuex";
import { timeout } from "@/helpers/helper";

export default {
  name: "Register",
  data() {
    return {
      fileinput: null,
      hashCodePL: "",
      loadingbar: false,
      cformData: {
        name: "",
        owner: "",
        phone: "",
        email: "",
        hash: "",
        description: "",
        nationalNumber: "",
        key_words: []
      },
      reqRule: [v => !!v || "required"]
    };
  },
  computed: {
    ...mapState(["loading"]),
    format() {
      return this.fileinput === null || this.fileinput === undefined
        ? ""
        : this.fileinput.name.split(".")[this.fileinput.name.split(".").length - 1];
    },
    submitter() {
      return this.$store.state.userName;
    },
    farsiFont() {
      if (this.$i18n.locale === "fa") {
        return { "font-family": "samim !important" };
      }
      return {};
    }
  },
  watch: {
    async fileinput() {
      if (this.fileinput !== null && this.fileinput !== undefined) {
        // eslint-disable-next-line
        const shaObj = new jsSHA('SHA3-512', 'TEXT');
        this.loadingbar = true;
        timeout(100);
        const filere = await this.getAsText(this.fileinput);
        this.loadingbar = false;
        shaObj.update(filere);
        this.hashCodePL = this.fileinput.name;

        this.cformData.hash = shaObj.getHash("HEX");
      }
    }
  },
  methods: {
    getAsText(readFile) {
      if (!FileReader) {
        console.error("not supported");
        return 0;
      }

      const reader = new FileReader();

      // Read file into memory as UTF-16
      reader.readAsText(readFile, "UTF-16");
      return new Promise((resolve, reject) => {
        // reader.onprogress = () => { };

        reader.onerror = (err = "") => {
          console.error("reader: somethin went wrong");
          reject(err);
        };

        reader.onload = () => {
          resolve(reader.result);
        };
      });
    },
    clear() {
      this.$refs.form.reset();
      this.hashCodePL = "";
      this.fileinput = null;
    },
    submit() {
      if (this.$refs.form.validate() === false) {
        this.$refs.calert.fire("validation error", false);
        return;
      }
      if (this.cformData.key_words.length === 0) {
        return;
      }
      const contex = {
        ...this.cformData,
        format: this.format,
        submitter: this.submitter
      };

      this.$axios
        .post("/submissions/new", contex)
        .then(() => {
          this.$refs.calert.fire("success", true);
          this.clear();
          return 0;
        })
        .catch(() => {
          this.$refs.calert.fire("خطا", false);
        });
    }
  }
};
</script>
