<template>
  <v-overlay :value="overlay" opacity="0" class="alert">
    <v-alert
      min-width="300"
      :type="type"
      dismissible
      dense
      :value="overlay"
      transition="slide-x-transition"
      max-width="100vw"
      class="mt-4 ml-4 pa-3"
      >{{ message }}</v-alert
    >
  </v-overlay>
</template>

<script>
import { timeout } from "@/helpers/helper";

export default {
  name: "CustomAlert",
  data() {
    return {
      type: "success",
      message: "",
      overlay: false
    };
  },

  methods: {
    async fire(msg, isSuccessfull = true, time = 2000) {
      this.message = msg;
      this.overlay = true;
      this.type = isSuccessfull ? "success" : "error";
      await timeout(time);
      this.overlay = false;
      this.message = "";
    }
  }
};
</script>

<style lang="scss" scoped>
.alert {
  align-items: flex-start !important;
  justify-content: flex-start !important;
}
</style>
