<template>
  <div :class="{ fill: bg, logincard: true }" v-if="!isLoggedIn">
    <v-container>
      <v-row dense>
        <v-col md="5" lg="4" sm="6" xs="12" class="mx-auto mt-n10" elevation="2">
          <v-card color="#fff" :disabled="loading">
            <v-progress-linear v-show="loading" indeterminate color="white" class="mb-0">
            </v-progress-linear>
            <div class="logo-con">
              <div
                style="display: flex;width: 100%;justify-content: space-around;align-items: center;"
              >
                <img src="@/assets/logo.svg" alt />
              </div>
              <span>{{ $t("application.saar") }}</span>
              <div>{{ $t("application.slogan") }}</div>
            </div>
            <v-card-title class="headline">{{ $t("login.login") }}</v-card-title>
            <v-card-subtitle>
              {{ !!bg ? $t("login.sessionExpired") : $t("login.loginCapture") }}
            </v-card-subtitle>

            <form class="d-flex flex-column" @submit.prevent="login">
              <div class="mx-5">
                <v-text-field v-model="username" :label="$t('login.userName')" required>
                </v-text-field>
                <v-text-field
                  v-model="password"
                  :label="$t('login.password')"
                  type="password"
                  required
                ></v-text-field>
              </div>
              <v-card-actions dir="rtl" class="mx-3">
                <v-btn text type="submit">{{ $t("login.login") }}</v-btn>
              </v-card-actions>
              <v-card-text>
                <slot></slot>
              </v-card-text>
            </form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import { expAt } from "../helpers/helper";

export default {
  name: "LoginCard",
  props: {
    bg: Boolean
  },
  data: () => ({
    username: "",
    password: ""
  }),
  methods: {
    async login() {
      let data;
      const { username, password } = this;

      try {
        data = await this.$axios.post("/auth/login", {
          username,
          password
        });
      } catch (error) {
        return 1;
      }

      this.$store.commit("logUserIn", data.data);
      let req2;
      try {
        req2 = await this.$axios.get("/user/profile");
      } catch (error) {
        console.log(error);
        return 0;
      }
      this.$store.commit("setProfile", req2.data.profile);

      expAt(req2.data.exp);

      this.$store.commit("snackbar", {
        msg: this.$t("message.welcome"),
        state: "success"
      });

      this.$emit("auth-success");

      return 0;
    }
  },
  computed: {
    loading() {
      return this.$store.state.loading;
    },
    isLoggedIn() {
      return this.$store.state.isLoggedIn;
    }
  },
  mounted() {
    window.login = this;
  }
};
</script>

<style lang="scss" scoped>
.fill {
  background-color: rgba(140, 179, 197, 0.664);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1024;
  height: 100vh;
}
.logo-con {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 8px;
  img {
    z-index: 122;
    width: 150px;
  }
  span {
    z-index: 122;
    font-size: 3rem;
    color: #297075;
    margin-top: -8px;
    font-family: "Samim";
  }
}
</style>
