<template>
  <div>
    <v-container>
      <v-row dense>
        <v-col md="6" sm="7" xs="12" class="mx-auto mt-n10" elevation="2">
          <v-card color="#f7f7f7" :disabled="loading">
            <v-progress-linear
              v-show="loading"
              indeterminate
              color="white"
              class="mb-0"
            ></v-progress-linear>
            <v-card-title class="headline">{{ $t("signup.signUp") }}</v-card-title>

            <v-form class="d-flex flex-column" v-model="valid" ref="form" @submit.prevent="login">
              <div class="mx-5">
                <v-row>
                  <v-col cols="6">
                    <v-text-field
                      outlined
                      :label="$t('profile.firstName')"
                      v-model="cr.firstName"
                      :rules="required"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      outlined
                      :label="$t('profile.lastName')"
                      v-model="cr.lastName"
                      :rules="required"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="6">
                    <v-text-field
                      outlined
                      :label="$t('profile.email')"
                      v-model="cr.email"
                      type="email"
                      :rules="required"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-text-field
                      outlined
                      :label="$t('profile.phoneNumber')"
                      v-model="cr.phone_number"
                      type="number"
                      :rules="required"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-text-field
                  outlined
                  v-model="cr.username"
                  :label="$t('profile.userName')"
                  :rules="required"
                ></v-text-field>

                <v-text-field
                  outlined
                  v-model="cr.password"
                  :label="$t('profile.password')"
                  type="password"
                  :rules="required"
                ></v-text-field>

                <v-text-field
                  outlined
                  v-model="cr.confpassword"
                  :label="$t('profile.confirmPassword')"
                  type="password"
                  :rules="mathPass"
                  :success="cr.confpassword !== '' && cr.confpassword === cr.password"
                ></v-text-field>
              </div>

              <v-card-actions dir="rtl" class="mx-3">
                <v-btn text :disabled="loading" type="submit">{{ $t("signup.signUpBtn") }}</v-btn>
              </v-card-actions>

              <v-card-text>
                <slot></slot>
              </v-card-text>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <custom-alert ref="calert" />
  </div>
</template>

<script>
import cloneDeep from "lodash.clonedeep";

export default {
  name: "SignUpCard",
  data: () => ({
    cr: {
      username: "",
      password: "",
      confpassword: "",
      firstName: "",
      lastName: "",
      phone_number: "",
      email: ""
    },
    // meta
    loading: false,
    valid: false
  }),
  computed: {
    required() {
      return [v => !!v || "مقدار خالی است"];
    },
    mathPass() {
      return [
        // (v) => !!v || 'Name is required',
        v => v === this.cr.password || "عدم همخوانی با پسورد"
      ];
    }
  },
  mounted() {
    window.ss = this;
  },
  methods: {
    async login() {
      this.loading = true;
      if (this.$refs.form.validate() === false) return;

      const creadit = cloneDeep(this.cr);
      delete creadit.confpassword;

      this.$axios
        .post("/auth/signup", creadit)
        .then(() => {
          this.$refs.form.reset();
          this.$refs.calert.fire("کاربر با موفقیت ایجاد شد", true);
        })
        .catch(() => {
          this.$refs.calert.fire("خطا", false);
        })
        .finally(() => {
          this.loading = false;
        });
    }
  }
};
</script>

<style lang="scss" scoped></style>
