<template>
  <v-app :style="farsiFont">
    <component :is="layout">
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </component>

    <v-snackbar v-model="snackbar">
      <v-icon :color="snackbarState" medium>{{
        snackbarState == "pink" ? "mdi-alert" : "mdi-check"
      }}</v-icon>
      {{ snackbarMsg }}
      <template v-slot:action="{ attrs }">
        <v-btn :color="snackbarState" text v-bind="attrs" @click="snackbar = false">Close</v-btn>
      </template>
    </v-snackbar>
    <update-sw></update-sw>
  </v-app>
</template>

<script>
import UpdateSw from "@/components/UpdateSw.vue";

export default {
  name: "App",
  components: {
    UpdateSw
  },
  watch: {
    lang() {
      this.$store.commit("changelang", this.lang);
      if (this.lang === "en") {
        this.$i18n.locale = "en";
        this.$vuetify.rtl = false;
      } else {
        this.$i18n.locale = "fa";
        this.$vuetify.rtl = true;
      }
    }
  },
  computed: {
    lang() {
      return this.$route.query.lang;
    },
    layout() {
      return this.$route.meta.layout || "deflayout";
    },
    farsiFont() {
      if (this.$i18n.locale === "fa") {
        return { "font-family": "samim !important" };
      }
      return {};
    },
    snackbar: {
      get() {
        return this.$store.state.snackbar;
      },
      set(value) {
        this.$store.commit("snackbar", value);
      }
    },
    snackbarMsg() {
      return this.$store.state.snackbarMsg;
    },
    snackbarState() {
      return this.$store.state.snackbarState;
    }
  },
  methods: {},
  mounted() {
    if (this.lang !== this.$i18n.locale) {
      if (this.lang === "en") {
        this.$i18n.locale = "en";
        this.$vuetify.rtl = false;
      } else {
        this.$i18n.locale = "fa";
        this.$vuetify.rtl = true;
      }
    }

    window.ll = this;
  },
  data: () => ({
    //
  })
};
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: translateY(0);
}
.fade-enter /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(10px);
}

.fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
.in-page {
  background-color: #f8f8f8;
}
</style>
