<template>
  <div>
    <v-card color="grey lighten-4" flat tile>
      <v-toolbar prominent extended dark src="/img/banner/banner.jpg">
        <template v-slot:img="{ props }">
          <v-img
            v-bind="props"
            gradient="to top right, rgb(18 25 22 / 17%), rgba(25,32,72,.7)"
          ></v-img>
        </template>

        <v-toolbar-title>
          {{ $t("hero.welcome") }}
          <b>{{ userName }}</b>
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-menu transition="slide-y-transition" bottom right offset-y rounded="0">
          <template v-slot:activator="{ on, attrs }">
            <v-btn icon v-bind="attrs" v-on="on">
              <v-icon>mdi-account-circle</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item
              v-for="(item, i) in itemMenu"
              :key="i"
              :to="item.to"
              style="cursor: pointer;"
            >
              <v-list-item-title>{{ $t(`dropDownMenu.${item.title}`) }}</v-list-item-title>
            </v-list-item>
            <v-divider />
            <v-list-item @click="changeLang">
              <v-list-item-content>
                <v-list-item-title>{{ $t("dropDownMenu.changeLanguage") }}</v-list-item-title>
                <v-list-item-subtitle>{{
                  $t("dropDownMenu.currentLanguage")
                }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>

            <v-list-item @click="logOut">
              <v-list-item-content>
                <v-list-item-title>{{ $t("dropDownMenu.LogOut") }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>

        <template v-slot:extension>
          <v-tabs right>
            <!-- <v-tab to="/profile">{{ $t('profile.title') }}</v-tab> -->
            <v-tab to="/">{{ $t("home.title") }}</v-tab>
            <v-tab to="/register">{{ $t("registration.title") }}</v-tab>
          </v-tabs>
        </template>
      </v-toolbar>
    </v-card>

    <v-main style="min-height: 100vh;">
      <slot />
    </v-main>
    <v-footer dark padless>
      <v-card class="flex" flat tile>
        <v-card-title class="cyan darken-4">
          <strong class="subheading"> ثار - سامانه ثبت ایده و رخداد </strong>

          <v-spacer></v-spacer>
          <img src="@/assets/logo.png" width="170px" class="mx-6" />
        </v-card-title>

        <v-card-text class="py-2 white--text text-center">
          Copyright @ {{ new Date().getFullYear() }}
          <strong>Saar </strong>
          — All Rights Reserved
        </v-card-text>
      </v-card>
    </v-footer>

    <login-card :bg="true" />
  </div>
</template>

<script>
import { mapState } from "vuex";
import LoginCard from "../components/LoginCard.vue";

export default {
  name: "deflayout",
  data() {
    return {
      links: ["mahdi", "yar", "anari"],
      // drawer: false,
      group: true,
      itemMenu: [
        { title: "Profile", to: "/profile" },
        { title: "Dashboard", to: "/" }
      ]
    };
  },
  methods: {
    logOut() {
      this.$store.commit("logUserOut");
      this.$router.push(`/login?lang=${this.$route.query.lang}`);
      this.$store.commit("snackbar", {
        msg: this.$t("snackbar.seeYouSoon"),
        state: "success"
      });
    },
    changeLang() {
      if (this.$i18n.locale === "en") {
        this.$router.push({ ...this.$route, query: { lang: "fa" } });
      } else {
        this.$router.push({ ...this.$route, query: { lang: "en" } });
      }
    }
  },
  computed: {
    ...mapState(["userName"])
  },
  components: {
    LoginCard
  }
};
</script>

<style>
.y-toolbar::after {
  content: "aaa";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #2222;
}
</style>
